<div class="container row justify-content-center">

        <!-- Add Year Wise Data Button -->

          
          <% Years.forEach(function(year) { 

   let statusText = "Pending";
   let badgeClass = "bg-secondary";
   letstatusText = "Pending Approval<br>at Secretary";
   if (yearStatusMap[year] !== undefined) {
      switch (yearStatusMap[year]) {
         case 0:
            statusText = "Draft";
            badgeClass = "bg-warning";
            break;
         case 1:
            statusText = "Pending Approval <br> at FA";
            badgeClass = "bg-primary";
            break;
         case 2:
            statusText = "Rejected by FA";
            badgeClass = "bg-danger"; 
            break;
         case 3:
            statusText = "Pending Approval <br>at Secretary";
            badgeClass = "bg-primary";
            break;
         case 4:
            statusText = "Rejected by <br> Secretary";
            badgeClass = "bg-danger";
            break;
         case 5:
            statusText = "Approved";
            badgeClass = "bg-success";
            break;
      }
   }
%>

<div class="mt-3 card" style="width: 8vw; margin: 10px;">
  
  <label class="text-center bg-info text-light">
    FY
  </label> 

  

  <form action="psu/year-wise-form" method="POST" class="mb-2">
      
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="finYr" value="<%= year %>">

    <button type="submit" class="btn w-100">
      <%= year %>
    </button>
  </form>

  <!-- STATUS BADGE -->
  <div class="text-center mt-2">
     <span class="badge <%= badgeClass %> text-light m-2">
        <%- statusText %>
     </span>
  </div>
</div>

<% }); %>

            </div>
        
        



